* {
	margin: 0px;
}


html, body {
	background-color: #ddd;	
	overflow: auto;
	height: 100%;
	/*min-height: 100vh;*/
}

nav {
	padding-left: 10px;
	padding-right: 20px;
	margin-bottom: 0px;
}

.navbar {
	margin-bottom: 0px;
}

.container {
	height: 100%;
}

.body-container {
	min-height: 100%;
	margin-top: 0px;
	background-color: #fff;
	padding-top: 20px;
	margin-top: 50px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
}


.fill {
	/*min-height: 100vh;*/
}

.error {
	color: red;
}

#chat-content {
	background-color: #fff;
	height: 100%;
	overflow: auto;
	padding: 20px;
	padding-bottom: 0px;
	margin-top: 50px;
	margin-bottom: 86px;
/*	overflow-y: hidden;
	overflow-x: hidden;*/
}



.friend {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin: 0px;
}

.friend.active {
	background-color: #eee;
}

.friend.inactive {
	cursor: pointer;
}

.friend.inactive:hover {
	background-color: #f7f7f7;
	color: #666;
}

.chatmsg {
	color: #666;
	background-color: #eee;
	border-radius: 10px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.fromme{
		background: #87ba2c;
	color: #fff;
	float: left;
	border-bottom: thin solid #eee;
	clear: both;
}

.tome{
	color: #444;
	float: right;
	border-bottom: thin #eee;
	clear: both;

}

.bold {
	font-weight: bold;
}

.messageinput {
	width: 85%;
	height: 45px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border: thin solid #ddd;
	border-radius: 5px;
	margin-right: 10px;
}

.textinput {
	width: 100%;
	height: 45px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	border: thin solid #e7e7e7;
	border-radius: 5px;
}

.inputbutton, .inputbutton:hover, .inputbutton:active, .inputbutton:visited {
	height: 45px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-top: 0px; 
	padding-bottom: 0px;
	padding-left: 30px;
	padding-top: 0px;
	padding-right: 30px;
	border: thin solid #6ca508;
	background-color: #6ca508;
	color: #fff;
	border-radius: 5px;
}

.page-wrap {
  margin-top: 0px; 
  height: 100%;
}

.footer {
  padding: 20px;
  background-color: #eee;
  position: absolute;
  bottom: 0;
  width: 100%;
}


